body {
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.iphone-container {
  position: relative;
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone {
  width: 300px;
  height: 600px;
  border: 10px solid black;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  background-color: white;
}


.notch {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 10%;
  background-color: black;
  border-radius: 0 0 10px 10px;
}

.options-container {
  width: 40%;
  padding: 50px;
}

h2 {
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slider {
  margin-left: 20px;
  width: 80%;
}
